.select {
  position: relative;
  min-width: 10rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #8dd8fb;
  padding: 0.25rem 1rem;
  font-size: 0.75rem;
  line-height: 0.75rem;
  cursor: pointer;
  user-select: none;
}

.selectMenu {
  padding: 0 1rem;
  margin: 0.5rem 0 0 0;
  background: #fff;
  display: grid;
  gap: 0.25rem;
  align-items: center;
  width: 100%;
  list-style: none;
  top: 100%;
  position: absolute;
  min-width: 100%;
  left: 0;

  li {
    width: 100%;
    &:hover {
      color: #8dd8fb;
    }
  }
}

.placeholder {
  color: #323637;
}